extends layout

block content 
    div
        div
            h1=title
    hr
    if errors
        p(style="color:red") #[strong Your form had some errors in!] Please address the following and resubmit:
        ul
        for error in errors
            p!= error.msg
        hr
    div.form-area
        form(method="POST")
            div 
                label(for="name") Category Name: 
                input#name(placeholder="Coffee, Tea, etc." name="name" required value=(undefined===category ? '' : category.name))
            button(type='submit' onclick="submitLoader()") Submit
        div.form-info-wrapper
            div
                p Category names should be general and not too specific! Take a full list of our current categories 
                    a(href="/catalog/categories") here
                    |.