extends layout

block content 
    div
        div
            h1=title
    hr
    form(method="POST")
        div 
            label(for="name") Category Name: 
            input#name(placeholder="Coffee, Tea, etc." name="name" required value=(undefined===category ? '' : category.name))
        button(type='submit') Submit