extends layout

block content 
    div
        div
            h1=title
    hr
    if errors
        p(style="color:red") #[strong Your form had some errors in!] Please address the following and resubmit:
        ul
        for error in errors
            p!= error.msg
        hr
    div.form-area
        form(method="post" action="" enctype="multipart/form-data")
            div 
                label(for="name") Country Name: 
                input#name(placeholder="Ethiopia, United Kingdom, etc." name="name" required value=(undefined===country ? "" : country.name))
            div 
                label(for="abbreviation") Three letter abbreviation: 
                input#abbreviation(placeholder="ETH, GBR, etc." name="abbreviation" required value=(undefined===country ? "" : country.abbreviation))
            if country
                div 
                    label(for="flag_img") Flag image #[em #[strong (svg file)]]
                    div.country-image-exists
                        input#flag_img(type="file" name="flag_img" accept="image/svg")
                        img(src=country.image_url)
                        p #[em Current flag - upload new one to replace. Otherwise, leave it!]
            else 
                div 
                    label(for="flag_img") Flag image #[em #[strong (svg file)]]
                    input#flag_img(type="file" name="flag_img" accept="image/*")
            button(type='submit') Submit
        div.form-info-wrapper
            div 
                p Each country has a unique three letter abbreviation. Take a look at a complete list 
                    a(href="https://www.iban.com/country-codes") here
                    |.
            div
                p Flag images #[em must] be SVG files. You can look for flags on 
                    a(href="https://www.svgrepo.com/collection/twemoji-emojis/4?search=flag") SVG Repo 
                    | and then upload them here.