extends layout

block content
  h1= title
  p Welcome to #[em Coffee by the River] Inventory, a very basic Express website developed by LowPal as part of The Odin Project's NodeJS course.
  p You will find lists of countries, categories, and items in the sidebar on the left. You can also #[strong create] new ones by clicking on the links underneath (i.e. "Create new item").
  p If you need to #[strong update] something, navigate to the record you wish to update and click #[em Update] at the bottom of the page. 
  h1 Dynamic content

  p The inventory has the following record counts:

  ul
    li #[strong Categories:] !{category_count}
    li #[strong Countries:] !{country_count}
    li #[strong Items:] !{item_count}