doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/styles.css")
    script(type='text/javascript').
      function showMenu() {
        const menu = document.querySelector("nav");
        menu.style.display = "flex";
      }
      function closeMenu() {
        const menu = document.querySelector("nav");
        menu.style.display = "none";
      }
  body
    img.show-menu-btn(src="/images/menu-btn.svg" onclick="showMenu()")
    div(class="main-wrapper")
      nav
        block sidebar
          img.exit-menu-btn(src="/images/close.svg" onclick="closeMenu()")
          ul(class="sidebar-list")
            a(href="/catalog")
              li Home
            a(href="/catalog/items")
              li All items
            a(href="/catalog/categories")
              li All categories
            a(href="/catalog/countries")
              li All countries
            hr
            a(href="/catalog/item/create")
              li Create new item
            a(href="/catalog/category/create")
              li Create new category
            a(href="/catalog/country/create")
              li Create new country
      section(class="main-body")
        section(class="banner")
          div 
            div.title Coffee by the River
            img(src="/images/beans.svg" class="beans")
          a(href="/" tabindex='-1')
            img(src="/images/logo.png" class="logo")
        main
          block content