* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --base-coffee: #6F4E37;
    --base-coffee-hover: #b15717;
    --shadow: 3px 3px 3px rgb(175, 175, 175);
    --input-background: #b157176e;
    font-size: 1rem;
}

h1 {
    font-family: "coffee-txt", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
}

h3 {
    margin: 0;
}

p {
    font-size: 1.1rem;
}

p > a {
    color: var(--base-coffee);
    font-weight: bold;
    transition: color 250ms ease-in;
}

p > a:hover {
    color: var(--base-coffee-hover);
    transition: color 250ms ease-in;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0;
}

nav.side > ul > a > li:hover {
    color: #fff;
    background-color: var(--base-coffee);
    cursor: pointer;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

nav.side > ul > a > li {
    background-color: none;
    transition: background-color 350ms ease-in, color 250ms ease-in;
    margin: 5px 0;
    color: #000;
}

h1,
button {
    animation: fade 800ms ease forwards;
}

.list-item,
input,
textarea,
select,
.custom-file-upload {
    animation: fade 1.3s ease forwards;
}

.form-info-wrapper {
    animation: fade 1.6s ease-out forwards;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
}

button,
.custom-file-upload {
    background-color: var(--base-coffee);
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 250ms ease-in;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;

}

button:hover,
button:focus {
    outline: none;
    cursor: pointer;
    background-color: var(--base-coffee-hover);
    transition: background-color 250ms ease-in;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
}

form > div {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(150px, 200px) 1fr;
    gap: 20px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid var(--base-coffee);
    background: none;
}

select:hover,
option:hover {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
    background-color: var(--input-background);
    outline: none;
    transition: background-color 250ms ease-in-out;
}

main {
    padding: 10px 50px;
    max-width: 1200px;
}

.banner,
nav.side {
    padding: 20px;
}

span {
    position: relative;
    bottom: 15px;
    color: var(--base-coffee);
    font-weight: bold;
    font-style: italic;
}

.paragraph-wrapper {
    background-color: var(--input-background);
    border: 2px solid var(--base-coffee);
    border-radius: 5px;
}

.paragraph-wrapper > p {
    margin: 0;
    padding: 10px;
}

label[for="flag_img"],
input[type="file"]:hover {
    cursor: pointer;
}

.custom-file-upload {
    transition: background-color 250ms ease-in;
    background-color: var(--base-coffee);
    color: #fff;
}

.custom-file-upload:focus,
.custom-file-upload:hover {
    cursor: pointer;
    background-color: var(--base-coffee-hover);
    transition: background-color 250ms ease-in;
}

/* SIDEBAR */
nav.side {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
}

nav.side > ul {
    font-weight: bold;
    font-size: 1.3rem;
}

.show-menu-btn,
.exit-menu-btn {
    padding: 5px;
    border-radius: 10px;
    height: 2em;
    background-color: var(--base-coffee);
    transition: background-color 250ms ease-in;
    z-index: 1;
}

.show-menu-btn:hover,
.exit-menu-btn:hover {
    cursor: pointer;
    background-color: var(--base-coffee-hover);
    transition: background-color 250ms ease-in;
}

.show-menu-btn {
    display: none;
    position: fixed;
    left: 5px;
    top: 5px;
}

.exit-menu-btn {
    align-self: flex-end;
}


nav.side,
.banner,
button,
input,
textarea,
.form-info-wrapper > div {
    box-shadow: var(--shadow);
}

/* MAIN BODY */

/* BANNER */

.banner-wrapper {
    border-radius: 0 0 5px 5px;
    background: linear-gradient(-80deg, #442c1a, #5f4431, var(--base-coffee), #996540);
    color: #fff;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav.top > ul {
    display: flex;
    margin: 0;
    padding: 0 10px;
    justify-content: flex-end;
    gap:15px;
}

nav.top > ul > a:hover {
    box-shadow: inset 0 -2px 0 0 #fff;
    transition: box-shadow 250ms ease-in;
}

nav.top > ul > a > li {
    color: #fff;
    font-weight: bold;
}

.title {
    font-family: "coffee-txt", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}

.beans {
    height: 5rem;
}

.logo {
    height: 7em;
}

.logo:hover {
    animation: rotate 500ms ease-in-out;
}

/* MAIN (BLOCK CONTENT) */

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-title > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title > div > img {
    height: 10em;
}

.item-country-abb {
    padding: 0 15px;
    background-color: none;
    border-radius: 10px;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

.item-country-abb:hover {
    background-color: var(--base-coffee);
    color: #fff;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

.stock-wrapper {
    display: flex;
    gap: 10px;
}


.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: none;
    color: #000;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

.list-item:hover {
    background-color: var(--base-coffee);
    color: #fff;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

.list-item > img {
    height: 2em;
}

.list-item > p {
    margin: 0;
}

.list-item:hover > p {
    color: #fff;
    transition: color 250ms ease-in;
}

.low-stock {
    background-color: #ff0000;
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    animation: bounce .4s ease-out 6 alternate;
}

.form-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.form-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.form-info-wrapper > div {
    border: 2px solid var(--base-coffee);
    background-color: var(--input-background);
}

.custom-file-upload,
.form-info-wrapper > div {
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

.form-info-wrapper > div > p {
    margin: 0;
}

.radio {
    display: flex;
    justify-content: space-around;
}

input[type="radio"] {
    height: 1em;
}

.radio > div > input,
.radio > div > label {
    cursor: pointer;
}

.radio > div {
    animation: fade 1.3s ease forwards;
}

.country-image-exists {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px
}

.country-image-exists > img {
    height: 3em;
}

.country-image-exists > p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
}

.loading {
    padding: 20px;
    position: fixed;
    left: 25vw;
    top: 40vh;
    animation: rotate 1s linear infinite;
}

@keyframes bounce {
    100% {
      transform:translateY(-20px);
    }
}

@keyframes fade {
    0% {
      transform: translateX(40px);
      opacity: .4;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    nav.top {
        display: none;
    }

    .show-menu-btn {
        display: block;
    }

    main {
        padding: 10px;
    }

    .title {
        font-size: 2rem;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 901px) {
    nav.side {
        display: none !important;
    }
}

@media only screen and (max-width: 750px) {
    .form-area {
        display: flex;
        flex-direction: column;
    }

    .form-info-wrapper {
        margin: 20px 0;
    }

    .form-info-wrapper > div {
        margin: 0;
    }
}

@media only screen and (max-width: 630px) {
    form > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px
    }

    input, textarea, select {
        width: 90%;
    }

    .radio {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .logo {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }
}

@font-face {
    font-family: "coffee-txt";
    src: 
        url("../fonts/coffee-txt.woff2") format(".woff2"),
        url("../fonts/coffee-txt.woff") format("woff");
}