* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --base-coffee: #6F4E37;
    --base-coffee-hover: #b15717;
    --shadow: 3px 3px 3px rgb(175, 175, 175);
    --input-background: #b157176e;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    margin: 0;
}

p {
    font-size: 1.1rem;
}

p > a {
    color: var(--base-coffee);
    font-weight: bold;
    transition: color 250ms ease-in;
}

p > a:hover {
    color: var(--base-coffee-hover);
    transition: color 250ms ease-in;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0;
}

nav > ul > a > li:hover {
    color: #fff;
    background-color: var(--base-coffee);
    cursor: pointer;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

nav > ul > a > li {
    background-color: none;
    transition: background-color 350ms ease-in, color 250ms ease-in;
    margin: 5px 0;
    color: #000;
}

h1,
button {
    animation: fade 800ms ease forwards;
}

.list-item,
input,
textarea,
select {
    animation: fade 1.3s ease forwards;
}

.form-info-wrapper {
    animation: fade 1.6s ease-out forwards;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
}

button {
    background-color: var(--base-coffee);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 250ms ease-in;
    margin-top: 10px;
}

button:hover,
button:focus {
    outline: none;
    cursor: pointer;
    background-color: var(--base-coffee-hover);
    transition: background-color 250ms ease-in;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
}

form > div {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(150px, 200px) 1fr;
    gap: 20px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    padding: 5px 10px;
    font-size: 1rem;
    border: 2px solid var(--base-coffee);
    border-radius: 5px;
    flex: 1 auto;
    background: none;
}

select:hover,
option:hover {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
    background-color: var(--input-background);
    outline: none;
    transition: background-color 250ms ease-in-out;
}

.main-wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 5fr);
}

main {
    padding: 10px 30px;
    max-width: 1200px;
}

.banner,
nav {
    padding: 20px;
}

/* SIDEBAR */

.show-menu-btn,
.exit-menu-btn {
    display: none;
    padding: 5px;
    border-radius: 10px;
    height: 2em;
    background-color: var(--base-coffee);
    transition: background-color 250ms ease-in;
    z-index: 1;
}

.show-menu-btn:hover,
.exit-menu-btn:hover {
    cursor: pointer;
    background-color: var(--base-coffee-hover);
    transition: background-color 250ms ease-in;
}

.show-menu-btn {
    position: fixed;
    left: 5px;
    top: 5px;
}

.exit-menu-btn {
    align-self: flex-end;
}

nav {
    background-color: #ebebeba8;
    flex-direction: column;
    height: 100vh;
}

nav > ul {
    font-weight: bold;
    font-size: 1.3rem;
}

nav,
.banner,
button,
input,
textarea {
    box-shadow: var(--shadow);
}

/* MAIN BODY */

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(-80deg, #442c1a, #5f4431, var(--base-coffee), #996540);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.banner > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    font-family: "coffee-txt", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}

.beans {
    height: 5rem;
}

.logo {
    height: 7em;
}

.logo:hover {
    animation: rotate 500ms ease-in-out;
}

/* MAIN (BLOCK CONTENT) */

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-title > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title > div > img {
    height: 10em;
}

.stock-wrapper {
    display: flex;
    gap: 10px;
}


.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: none;
    color: #000;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

.list-item:hover {
    background-color: var(--base-coffee);
    color: #fff;
    transition: background-color 350ms ease-in, color 250ms ease-in;
}

.list-item > img {
    height: 2em;
}

.list-item > p {
    margin: 0;
}

.list-item:hover > p {
    color: #fff;
    transition: color 250ms ease-in;
}

.low-stock {
    color: red;
    font-weight: bold;
    animation: bounce .4s ease 8 alternate;
}

.form-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.form-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-info-wrapper > div {
    border: 2px solid var(--base-coffee);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px;
    background-color: var(--input-background);
}

.form-info-wrapper > div > p {
    margin: 0;
}

.coffee-splash {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3em;
}

@keyframes bounce {
    100% {
      transform:translateY(-5px);
    }
}  

@keyframes fade {
    0% {
      transform: translateX(40px);
      opacity: .4;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        z-index: 1;
    }

    .main-wrapper {
        grid-template-columns: 1fr;
    }

    .show-menu-btn,
    .exit-menu-btn {
        display: block;
    }
}

@media only screen and (min-width: 901px) {
    nav {
        display: block !important;
    }
}

@media only screen and (max-width: 750px) {
    .form-area {
        display: flex;
        flex-direction: column;
    }

    .form-info-wrapper {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 540px) {
    .title {
        font-size: 2rem;
        margin-top: 10px;
    }

    form > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px
    }

    input, textarea, select {
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    .logo {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }
}

@font-face {
    font-family: "coffee-txt";
    src: 
        url("../fonts/coffee-txt.woff2") format(".woff2"),
        url("../fonts/coffee-txt.woff") format("woff");
}